.content {
    width: 100%;
    margin-top: 3rem;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.socials {
    display: flex;
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

.socialLink {
    transition: transform 0.2s ease;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 2px solid rgb(150, 150, 150);
}

.socialLink:not(:last-child) {
    border-right: none;
}

.socialLink:hover {
    transform: translateY(-2px);
}

.socialLink svg {
    display: block;
}

.intro {
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
    border-right: none;
    margin-left: -32px;
    margin-right: -32px;
    padding: 48px;
    font-size: 0.95rem;
    font-weight: 400;
}

.work {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.distinctions {
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    gap: 1rem;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
    border-right: none;
}

.distinctionsTitle {
    padding-left: 8px;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 650;
}
@media (max-width: 600px) {
    .intro {
        margin-left: 0;
        margin-right: 0;
        padding: 24px 16px;
    }
}