.content {
    width: 100%;
    margin-top: 3rem;
}

.intro {
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
    border-right: none;
    margin-left: -32px;
    margin-right: -32px;
    padding: 48px;
    font-size: 0.95rem;
    font-weight: 400;
}

.projects {
    margin-top: 2rem;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
