.page {
    display: flex;
    min-width: 100dvw;
    min-height: 100dvh;
    justify-content: center;
}

.centered {
    display: flex;
    width: 1024px;
    max-width: 70dvw;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    height: 100%;
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
}
