.cardContainer {
    display: flex;
    width: 100%;
}

.card {
    display: flex;
    font-size: 0.9rem;
    gap: 1rem;
}

.cardDate {
    flex-grow: 1;
    min-width: 20ch;
}

.date {
    min-height: 31.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 600;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.companyLink {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

.companyLink:hover {
    color: rgb(80, 80, 80);
    transition: translate 1s ease;
}

.companyLink:hover .arrow {
    transform: translate(2px, -2px);
}

.cardCompany {
    font-weight: 600;
    font-size: 1.3rem;
}

.arrow {
    transition: transform 0.2s ease;
    flex-shrink: 0;
}

.cardTitle {
    font-weight: 500;
    font-size: 1rem;
    color: black;
}

.cardDescription {
    font-weight: 400;
    font-size: 0.9rem;
    color: rgb(50, 50, 50);
    line-height: 1.6;
}
