.cardContainer {
    max-width: 100%;
    box-sizing: border-box;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 48px;
    gap: 1rem;
}

.image {
    max-width: 100%;
    width: 800px;
    height: auto;
    border-radius: 4px;
    border: 2px solid rgb(121, 121, 121);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.projectLink {
    color: rgb(2, 2, 255);
    font-size: 1rem;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year {
    font-size: 0.9rem;
    color: #666;
    font-weight: normal;
}
