.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
    padding: 0rem 1rem;
}



.header {
    font-size: 1.1rem;
    font-weight: 550;
    margin-bottom: 1rem;
}

.paragraph {
    margin-top: 1rem;
}

.image {
    width: 768px;
    height: auto;
    max-width: 80%;
    max-height: 100%;
    margin-top: 2rem;
}