.page {
    display: flex;
    min-width: 100dvw;
    min-height: 100dvh;
    justify-content: center;
}

.centered {
    display: flex;
    width: 800px;
    max-width: max(50dvw, 600px);
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
    padding: 2rem 0rem;
    padding-bottom: 5rem;
}

.leftWall {
    width: 32px;
    min-height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-bottom: none;
    border-top: none;
    position: relative;
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 16px,
        rgb(224, 224, 224) 16px,
        rgb(224, 224, 224) 17px
    );
}

.rightWall {
    width: 32px;
    min-height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-bottom: none;
    border-top: none;
    position: relative;
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 16px,
        rgb(224, 224, 224) 16px,
        rgb(224, 224, 224) 17px
    );
}

@media (max-width: 600px) {
    .page {
        overflow-y: scroll;
    }

    .centered {
        width: 100dvw;
        padding: 1rem 1rem 5rem 1rem;
    }

    .leftWall {
        display: none;
    }

    .rightWall {
        display: none;
    }
}
